<!DOCTYPE html>
<html lang="en">
<head>
  <title>MIS project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  {% load static %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="site-index">

    <section class="site-banner">
        <div class="banner-container">
            <nav class="navbar">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'images/LogoShape.svg' %}" alt="" width="30" height="40" class="d-inline-block align-middle">
                    MIS
                </a>
            </nav>

            <div class="site-title position-absolute top-50 start-0 translate-middle-y">
                <p class="title">A application to predicting COVID-19 Pneumonia Severity on X-ray with deep learning</p>
                <small>2022 Medical Imaging System</small></br>

                <!-- <a class="btn mt-4" href="#" role="button"><img src="images/button_start.svg" alt="" width="200"></img>Link</a> -->
                <a href="{% url 'Upload_multi' %}" class="btn button primary-button mt-4">Start Now</a>
                
            </div>

            <ul class="list-inline d-flex justify-content-center position-absolute bottom-0 start-50 translate-middle-x">
                <li class="list-inline-item px-3"><h1><i class="bi bi-people-fill"></i></h1></li>
                <li class="list-inline-item px-3"><h5>蕭暉樺</h5><small>Q56101052</small></li>
                <li class="list-inline-item px-3"><h5>阮智軒</h5><small>Q56105014</small></li>
                <li class="list-inline-item px-3"><h5>莊竣傑</h5><small>P76104087</small></li>
                <li class="list-inline-item px-3"><h5>陳宜君</h5><small>P76104574</small></li>
            </ul>
            
        </div>
        
    </section>

        

        


</body>
</html>
