<!DOCTYPE html>
<html lang="en">
<head>
  <title>MIS project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  {% load static %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'bootstrap-fileinput/css/fileinput.css' %}" />
  <link href="{% static 'bootstrap-fileinput/themes/explorer/theme.css' %}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'bootstrap-fileinput/js/fileinput.js' %}"></script>
  <script src="{% static 'bootstrap-fileinput/themes/gly/theme.js' %}"></script>
</head>
<body class="site-result">
    
    <section class="site-banner">
        <div class="result-title mx-4 mt-3 border-bottom d-flex align-items-center">
            <div>
                <small>Result</small>
                <p class="title">Prediction</p>
            </div>
            <div class="ms-auto">
                <a href="{% url 'Home' %}" class="btn button secondary-button">Home</a>
                <a href="{% url 'Upload_multi' %}" class="btn button primary-button">Restart</a>
            </div>
            
        </div>
        <div class="mx-4 mt-3">
            <div class="row row-cols-3 g-4 d-flex justify-content-center">
                {% for key,value in dic.items %}
                <div class="col">
                    
                    <div class="card result-card mb-3" style="width: 400px;">
                        <div class="row g-0">
                            
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title text-truncate">{{ key }}</h5>
                            <div class="d-flex my-4">
                                <div>
                                    <small>geographic extent (0-8)</small>
                                    <h5 class="card-text mt-1">{{ value.1 }}</h5>
                                </div>
                                <div class="ms-auto">
                                    <img src="{% static 'images/bar-chart.svg' %}" alt="...">
                                </div>
                            </div>
                            <div class="d-flex my-4">
                                <div>
                                    <small>opacity (0-6)</small>
                                    <h5 class="card-text">{{ value.2 }}</h5>
                                </div>
                                <div class="ms-auto">
                                    <img src="{% static 'images/layers.svg' %}" alt="...">
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="{{ value.0 }}" alt="..." style="height: 15rem; width: 12rem; object-fit: cover; border-radius: 0px 10px 10px 0px;">
                        </div>
                        </div>
                    </div>
                    
                </div>
                {% endfor %}
            </div>
            
            

              {% if image_uri is not None %}
              <div class="col">
                  <div class="card border-light h-100" style="width: 18rem;">
                  <img src="{{ image_uri }}" class="card-img-top" alt="..." style="height: 12rem; object-fit: cover;">
                  <div class="card-body ">
                      <h5 class="card-title  text-truncate w-100">File Name</h5>
                      
                  </div>         
                  <div class="card-body">
                      <p class="card-text">text</p>
                  </div>
                  </div>
              </div>
          {% endif %}
        </div>
        

    </section>

</body>
</html>
