<!DOCTYPE html>
<html lang="en">
<head>
  <title>MIS project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  {% load static %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'bootstrap-fileinput/css/fileinput.css' %}" />
  <link href="{% static 'bootstrap-fileinput/themes/explorer/theme.css' %}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'bootstrap-fileinput/js/fileinput.js' %}"></script>
  <script src="{% static 'bootstrap-fileinput/themes/gly/theme.js' %}"></script>
</head>
<body class="site-upload">
    
    <section class="site-banner">
        <div class="upload-title mx-4 mt-3 border-bottom d-flex align-items-center">
            <div>
                <small>Predict</small>
                <p class="title">Upload Images</p>
            </div>
            <div class="ms-auto">
                <a href="{% url 'Home' %}" class="btn button secondary-button">Home</a>
                <a href="{% url 'Result' %}" class="btn button primary-button">Predict</a>
            </div>
            
        </div>
        <!-- <div class="form-group m-4">
            <div class="file-loading">
                <input id="input-id" name="input-id[]" class="file" type="file" webkitdirectory multiple>
            </div>
        </div> -->
        <!-- <input id="input-id" name="file-data" type="file"> -->
        <div class="m-4">
            
            {% if dir is not None %}
            <span>{{ dir }}</span>
            {% endif %}
            {% if files is not None %}
            <img src="{{ files.file_field.url }}" >
            {% endif %}

            {% if image_uri is not None %}
                <div class="col">
                    <div class="card border-light h-100" style="width: 18rem;">
                    <img src="{{ image_uri }}" class="card-img-top" alt="..." style="height: 15rem; object-fit: cover; border-radius: 20px 20px 0px 0px;">
                    <div class="card-body ">
                        <h5 class="card-title  text-truncate w-100" style="color:black;">{{ name }}</h5>
                        
                    </div>
                    </div>
                </div>
                <!-- {% if predicted_label is not None %}
                    <div class="alert alert-primary" role="alert">
                        Predicted label: <b>{{ predicted_label }}</b>
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        Prediction error. No label predicted.
                    </div>
                {% endif %} -->
            {% endif %}

            <form method="POST" enctype="multipart/form-data" style="margin-top: 50px; margin-bottom: 30px;">
                {% csrf_token %}
                {{ form }}
                <button type="submit" id="btnUpload" class="btn btn-primary">Upload</button>
            </form>

            <!-- <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" id="file_input" name="file_field" webkitdirectory directory/>
                <input type="text" id="directories" name="directories" hidden />
                <input type="submit"/>
            </form> -->
            <script>
             files = document.querySelector("#file_input").files;
             document.querySelector("#file_input").addEventListener("change", function() {
                files = document.querySelector("#file_input").files;
                var directories = {}
                for (var file of files) {
                  file.webkitRelativePath
                  directories[file.name] = file.webkitRelativePath
                }
                directories = JSON.stringify(directories);
                document.querySelector("#directories").value = directories
             });
             
            </script>
        </div>
        
    </section>

</body>
</html>
