<!DOCTYPE html>
<html lang="en">
<head>
  <title>MIS project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  {% load static %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'bootstrap-fileinput/css/fileinput.css' %}" />
  <link href="{% static 'bootstrap-fileinput/themes/explorer/theme.css' %}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'bootstrap-fileinput/js/fileinput.js' %}"></script>
  <script src="{% static 'bootstrap-fileinput/themes/gly/theme.js' %}"></script>
</head>
<body class="site-upload">
    
    <section class="site-banner">
        <div class="upload-title mx-4 mt-3 border-bottom d-flex align-items-center">
            <div>
                <small>Predict</small>
                <p class="title">Upload Images</p>
            </div>
            <div class="ms-auto">
                <a href="{% url 'Home' %}" class="btn button secondary-button">Home</a>
                <a href="{% url 'Result' %}" class="btn button primary-button">Predict</a>
            </div>
            
        </div>
        
        <div class="m-4">
            <div class="row row-cols-auto g-4 d-flex justify-content-center">
                {% for key,value in dic.items %}
                <div class="col">
                    <div class="card h-100" style="width: 15rem;">
                        <img src="{{ value }}" class="card-img-top" alt="..." style="height: 15rem; object-fit: cover; border-radius: 20px 20px 0px 0px;">
                        <div class="card-body">
                          <h5 class="card-title" style="color:black;">{{key}}</h5>
                          <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                        </div>
                      </div>
                </div>
                {% endfor %}
            </div>
            <div class="my-4">
                <form enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <input type="file" name="files" class="form-control-file" multiple>
                        <button type="submit" class="btn btn-secondary">上傳</button>
                        {% csrf_token %}
                    </div>
                </form>
            </div>
        </div>
        
    </section>

</body>
</html>
