html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* background-color: #0A2640; */
    color: whitesmoke;
    font-family: 'Manrope';
    font-style: normal;
}


/* CSS Variables */ 

:root{
    --primary-color: #65E4A3;
    --primary-color2: #7ee8fa;
    --title-color: #141313;
    --text-color: white;  
    --border-color: #201f1f17;  
    --gradient-color: linear-gradient(90deg, #69E6A6 0%, #7ee8fa 100%);
    --shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
   

    /* font family variables. */ 
    --roboto: 'Roboto', cursive;
} 
