@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url(./partials/_variables.css);
@import url(./partials/_global.css);
/* index */
.site-banner .navbar {
    padding: 1rem 10rem ;
}
.site-banner .navbar-brand{
    color: whitesmoke;
    font-size: 35px;
}
.site-banner .site-title {
    padding: 1rem 10rem ;
    max-width: 80%;
}

.site-index .site-banner{
    height: 100%;
    background: url(../images/Ellipse9.png) no-repeat top right/60%;
}
/* uplead */
.site-upload .site-banner{
    height: 100%;
    background: url(../images/E2.svg) no-repeat bottom right/60%;
}
.btn-file{
    background-color: #2A4E6F;
    border-color: white;
}
.btn-file:hover{
    background-color: #BED3E7;
    color: black;
    border-color: white;
}
.btn-submit{
    background-color: #2A4E6F;
    border-color: white;
}

/* result */
.site-result{
    height: 100%;
    background: url(../images/E3.svg) no-repeat top left/60%;
}

.card{
    border-radius: 20px;
}

.result-card{
    border-radius: 10px;
}